@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=UnifrakturMaguntia&display=swap');

body {
  
}

.body__title--cs {
  color: black !important;
  font-family: "Manufacturing Consent", system-ui !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 14px !important;

}

.sidebar-draggable--cs {
  transition: 
    background-color 0.2s ease,
    transform 0.25s ease;
    transform-origin: center;
}

.sidebar-draggable--cs:hover {
  background-color: #c6d1f6 !important;
  transform: perspective(400px) rotateX(12deg) rotateY(-12deg) !important;
}

  .sidebar-draggable-paragraph--cs {
    
  }

  .SidebarModule_imageDrag__-XEVH svg {
  visibility: hidden;
}

  .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/bcQrnFFc6CYAAAAi/fawn-run-transparent.gif") center / contain no-repeat;
}
  

