body {
  background-color: red !important;
}

.body__title--cs {
  color: blue !important;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: bold !important;

}

  .sidebar-draggable-paragraph--cs {
    background-color: red !important;
  }

  .SidebarModule_imageDrag__-XEVH svg {
  visibility: hidden;
}

  .SidebarModule_imageDrag__-XEVH {
  background: url("https://tenor.com/it/view/fawn-run-transparent-pixel-fawn-gif-7909494795949369382") center / contain no-repeat;
}
  

