@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=UnifrakturMaguntia&display=swap');

body {
  
}

.body__title--cs {
  color: black !important;
  font-family: "Manufacturing Consent", system-ui !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 14px !important;

}

.sidebar-draggable--cs {
  transition: transform 0.25s ease, box-shadow 0.25s ease !important;
  transform-style: preserve-3d !important;
}

.sidebar-draggable--cs:hover {
  background-color: #c6d1f6 !important;
  transform: perspective(400px) rotateX(12deg) rotateY(-12deg) translateZ(8px) !important;
  box-shadow: 0 25px 40px rgba(0,0,0,0.25) !important;
}

  .sidebar-draggable-paragraph--cs {
    
  }

  .SidebarModule_imageDrag__-XEVH svg {
  visibility: hidden;
}

  .sidebar-draggable-list--cs .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/bcQrnFFc6CYAAAAi/fawn-run-transparent.gif") center / contain no-repeat;
}
.sidebar-draggable-paragraph--cs .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/a2m-Y3dLmD0AAAAi/mona-github-loading-github.gif") center / contain no-repeat;
}
.sidebar-draggable-heading--cs .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/9sSTiaKKvIAAAAAi/mad.gif") center / contain no-repeat;
}

.sidebar-draggable-image--cs .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/bcQrnFFc6CYAAAAi/fawn-run-transparent.gif") center / contain no-repeat;
}


.sidebar-draggable-button--cs .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/bcQrnFFc6CYAAAAi/fawn-run-transparent.gif") center / contain no-repeat;
}
.sidebar-draggable-table--cs .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/bcQrnFFc6CYAAAAi/fawn-run-transparent.gif") center / contain no-repeat;
}

.sidebar-draggable-divider--cs .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/bcQrnFFc6CYAAAAi/fawn-run-transparent.gif") center / contain no-repeat;
}
.sidebar-draggable-spacer--cs .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/bcQrnFFc6CYAAAAi/fawn-run-transparent.gif") center / contain no-repeat;
}
.sidebar-draggable-social--cs .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/bcQrnFFc6CYAAAAi/fawn-run-transparent.gif") center / contain no-repeat;
}
.sidebar-draggable-icons--cs .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/bcQrnFFc6CYAAAAi/fawn-run-transparent.gif") center / contain no-repeat;
}
