@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=UnifrakturMaguntia&display=swap');

body {
  
}

.body__title--cs {
  color: black !important;
  font-family: "Manufacturing Consent", system-ui !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 16px !important;

}

  .sidebar-draggable-paragraph--cs {
    
  }

  .SidebarModule_imageDrag__-XEVH svg {
  visibility: hidden;
}

  .SidebarModule_imageDrag__-XEVH {
  background: url("https://media.tenor.com/bcQrnFFc6CYAAAAi/fawn-run-transparent.gif") center / contain no-repeat;
}
  

