body {
  background-color: red !important;
}

.body__title--cs {
  color: blue !important;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: bold !important;

  .sidebar-draggable-paragraph--cs {
    color: red !important;
  }
  
  
  
}
