body {
  background-color: red !important;
}

.body__title--cs {
  color: blue !important;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: bold !important;

}

  .sidebar-draggable-paragraph--cs {
    background-color: red !important;
  }

  .SidebarModule_imageDrag__-XEVH svg {
  display: none;
}

  .SidebarModule_imageDrag__-XEVH {
  width: 36px !important;
  height: 36px !important;
  background-image: url("https://www.svgrepo.com/show/530353/grape.svg") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}
  

